<div class="flex justify-between mb-5">
    <p class="dashboard-title my-auto">
        My applications
    </p>
    <button routerLink="../newapp" class="btn btn-primary bg-indigo-600 gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-grid-add" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="4" y="4" width="6" height="6" rx="1"></rect>
            <rect x="14" y="4" width="6" height="6" rx="1"></rect>
            <rect x="4" y="14" width="6" height="6" rx="1"></rect>
            <path d="M14 17h6m-3 -3v6"></path>
         </svg>
         
        New application
    </button>
 </div>
 
<div *ngIf="apps?.length==0" class="w-full text-center py-10">

    <p class="text-2xl mb-10">
        You don`t have any applications yet, create one
    </p>
    <button routerLink="../newapp" class="px-10 gap-2 btn btn-primary text-white bg-indigo-600 border-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="9" y1="9" x2="9.01" y2="9"></line>
            <line x1="15" y1="9" x2="15.01" y2="9"></line>
            <path d="M8 13a4 4 0 1 0 8 0m0 0h-8"></path>
         </svg>
        Order my first application
    </button>
</div>


<div *ngIf="apps?.length!>=1" class="w-full py-10">

    <app-app-item *ngFor="let app of apps"  [app]="app" ></app-app-item>
</div>
