<div class="text-gray-900 font-semibold h-screen relative bg-gray-50 grid grid-cols-5">
   <div class="sm:col-span-5 md:col-span-3">

    <form *ngIf="!loading" [formGroup]="createProjectForm" class="form-control ml-20 mt-16 mr-20 text-4xl leading-relaxed tracking-wide">
        <div class="flex stepper-name space-x-10">
            <img routerLink="../" class="cursor-pointer mt-1 w-5 h-5" src="../../../../../../assets/icons/close.png" alt="" srcset="">
            <p class="my-auto">
                Create a project (Step {{steps.indexOf(currentStep) + 1}} of {{steps.length}})
            </p>
        </div>

        <div *ngIf="currentStep==steps[0]">
            <p class="mt-36">
                Let`s start with a name for your project
            </p>
            <input formControlName="name"  type="text" placeholder="Enter a project name" class="mt-10 large-input w-3/4">
        </div>

        <div *ngIf="currentStep==steps[1]">
            <p class="mt-36">
                What are you going to create inside this project ?
            </p>
            <textarea formControlName="description" type="text" placeholder="Enter a description for your business" class="mt-10  large-input textarea textarea-bordered w-full h-28"></textarea>

        </div>

        <div *ngIf="currentStep==steps[2]">
            <p class="mt-36">
                Does this project belongs to an organization ?
            </p>
            <input formControlName="company_name" type="text" placeholder="Company name" class="mt-10 large-input w-3/4">
            <input formControlName="company_website" type="text" placeholder="Website if possible" class="mt-10 large-input w-3/4">
        </div>

        <div *ngIf="currentStep==steps[3]">
            <p class="mt-36">
                Who is responsible for this project?
            </p>
            <p class="mt-2 ml-2 text-base tracking-normal font-normal">
                We are going to use these informations to contact you 
                outside our platform
            </p>
            <input formControlName="email" type="text" placeholder="Enter an email address" class="mt-10 large-input w-3/4">
            <input formControlName="phone" type="text" placeholder="Enter a phone number" class="mt-10 large-input w-3/4">
        </div>

        <div *ngIf="currentStep==steps[4]">
            <p class="mt-32">
                Does your business have any social media accounts ?
            </p>
            <p class="mt-2 ml-2 text-base tracking-normal font-normal">
                We can use these accounts to get some informations about
                your project
            </p>
            <input formControlName="facebook" type="text" placeholder="Enter a LinkedIn account link" class="mt-10 large-input text-xl w-full">
            <input formControlName="instagram" placeholder="Enter a Facebook page link" class="mt-10 large-input text-xl w-full">
            <input formControlName="linkedin" placeholder="Enter an Instagram page link" class="mt-10 large-input text-xl w-full">
        </div>

        

        <div class="flex space-x-4">
            <button [disabled]="!currentStep.canContinue()" *ngIf="!isLastStep && !currentStep.canSkip" (click)="nextStep()" class="mt-10 w-1/3 px-10 btn btn-primary bg-indigo-600 border-none normal-case">
                Continue
            </button>
            <button *ngIf="!isLastStep && currentStep.canSkip" (click)="nextStep() "  class="mt-10 w-1/3 px-10 btn btn-primary bg-indigo-600 border-none normal-case">
                Skip
            </button>
            <button [disabled]="!createProjectForm.valid" (click)="submitProject()" *ngIf="isLastStep" class="mt-10 w-1/3 px-10 btn btn-primary bg-indigo-600 border-none normal-case">
                Create
            </button>

            <button *ngIf="!isFirstStep" (click)="goBack()"  class="mt-10 w-1/3 px-10 btn btn-accent border-none normal-case">
                Go back
            </button>
        </div>
    </form>
    <div *ngIf="loading" class="flex flex-col h-full text-lg mx-auto text-center" >
        <app-loading></app-loading>
     </div>


   </div>
   
   <div class="sm:invisible md:visible col-span-2 grid grid-cols-2">
        <div></div>
        <div class="bg-indigo-600"></div>
   </div>
   <img class="sm:invisible md:visible absolute right-10 top-16 w-80 h-80" src="../../../../../../assets/images/create-project.png" alt="">
</div>