<p class="dashboard-title mb-10">
    {{ projectService.currentProject?.name }}
</p>
    
<div class="grid sm:grid-cols-1 md:grid-cols-2 gap-10">
       
    <overview-item
        [title]="'Users'" 
        [text]="'Authenticate and Manage your users'" 
        [image]="'users'">
    </overview-item>
    
    <overview-item
        [title]="'Aanalytics'" 
        [text]="'Measure and analyse user engagement'" 
        [image]="'analytics'">
    </overview-item>
     
    <overview-item
        [title]="'Messaging'" 
        [text]="'Send messgages to engage the right users at the right moment'" 
        [image]="'messaging'">
    </overview-item>
       
    <overview-item 
        [title]="'Push Notifications'" 
        [text]="'Engage the right users at the right moment'" 
        [image]="'cloudmessaging'">
    </overview-item>
    
    <overview-item 
        [title]="'Scalabale'" 
        [text]="'Support millions of users and pay as you go'" 
        [image]="'hosting'">
    </overview-item>
    
    
        
</div>
