<div class="flex">
    <div class="flex w-min bg-slate-800 text-white bg-repeat-y" style="background-image: url('../../../../../assets/images/navbar.png')">
        <ul>
            
            <div class="flex divide-y-2">
                <div class="btn  justify-start hover:bg-slate-700 bg-transparent border-t-0 border-r-0 border-l-0 h-16 btn-wide gap-4 rounded-none normal-case">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 my-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
                      Project Overview
                </div>    
            </div>
    
            <div class="flex divide-y-2">
                <div class="btn justify-start hover:bg-slate-700 bg-transparent border-t-0 border-r-0 border-l-0 h-16 btn-wide gap-4 rounded-none normal-case">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 my-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
                      Applications
                </div>    
            </div>
    
            <div class="flex divide-y-2">
                <div class="btn justify-start hover:bg-slate-700 bg-transparent border-t-0 border-r-0 border-l-0 h-16 btn-wide gap-4 rounded-none normal-case">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 my-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
                      Analytics
                </div>    
            </div>
    
    
            <div class="flex divide-y-2">
                <div class="btn justify-start hover:bg-slate-700 bg-transparent border-t-0 border-r-0 border-l-0 h-16 btn-wide gap-4 rounded-none normal-case">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 my-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
                      Marketing
                </div>    
            </div>
    
            <div class="flex divide-y-2">
                <div class="btn justify-start hover:bg-slate-700 bg-transparent border-t-0 border-r-0 border-l-0 h-16 btn-wide gap-4 rounded-none normal-case">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 my-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
                      Collaborators
                </div>    
            </div>
    
            <div class="flex divide-y-2">
                <div class="btn justify-start hover:bg-slate-700 bg-transparent border-t-0 border-r-0 border-l-0 h-16 btn-wide gap-4 rounded-none normal-case">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 my-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
                      Billing
                </div>    
            </div>
        </ul>
    </div>
    <div class="w-full p-10 bg-gray-100">
        <router-outlet></router-outlet>
    </div>
</div>
