<div class="flex min-h-screen">
    <div class="flex w-min bg-slate-800 text-white bg-repeat-y" style="background-image: url('../../../../../assets/images/navbar.png')">
        <ul>
            
            <app-project-menu-item [title]="'Project Overview'" > </app-project-menu-item>
            <app-project-menu-item [title]="'My Applications'" > </app-project-menu-item>
            <app-project-menu-item [title]="'Aanalytics'" > </app-project-menu-item>
            <app-project-menu-item [title]="'Marketing'" > </app-project-menu-item>
            <app-project-menu-item [title]="'Billing'" > </app-project-menu-item>
             
        </ul>
    </div>
    <div class="w-full p-10 bg-gray-100">
        <router-outlet></router-outlet>
    </div>
</div>
