<div id="contact" class="px-16 py-10">
      
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-10">
        <div data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" >
            <div data-aos="fade-left"
            data-aos-easing="linear"
            data-aos-duration="500" class="grid grid-cols-2 form-control gap-x-10 gap-y-5 text-gray-900">
            <div class="col-span-2">
                <p class="text-4xl font-black capitalize">
                        How May We Help You!
                </p>
                <div class="h-3"></div>
                <p class="text-gray-600 text-lg">
                    We will respond to yout kind question ASAP!
                </p>

                <div class="h-5"></div>
        </div>
            <input class="col-span-2 md:col-span-1 input" type="text" placeholder="Name" required >
            <input class="col-span-2 md:col-span-1 input" type="text" placeholder="Company" >
            <input class="col-span-2 md:col-span-1 input" type="tel" placeholder="Phone" required>
            <input class="col-span-2 md:col-span-1 input" type="email" placeholder="Email" required>
            <textarea class="col-span-2 textarea h-24 textarea-bordered" type="text" placeholder="Your message" required> </textarea>
           <div class="col-span-2 lg:col-span-1">
              <button class="font-nomal text-lg w-full bg-indigo-600 hover:bg-indigo-800 capitalize btn px-10"> Send Message</button>
           </div>
        </div>
    </div>
    <div data-aos="fade-left"
    data-aos-easing="linear"
    data-aos-duration="500" >
        <img class="anima1" src="../../../../../assets/images/contact.png" alt="">
    </div>

        
    </div>
  </div>