<div id="services" class="sm:px-5 md:px-20 py-10">
    <div class="text-center">
    <!-- <lovely-info :title="$t('What we can do')"/> -->
    <app-lovely-text title="What we can do"></app-lovely-text>
    </div>
    <div class="services h-10"></div>
    <p class="text-center text-4xl font-black">
        We Provide IT Services
    </p>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1  gap-x-10"> 
       <app-service text="Bring interaction design to a new level creating from clickable prototypes to fully-functional simulations." icon="vector" title="interface design" color="bg-yellow-500"></app-service>
       <app-service text="Where we use search engines to market your product; through paid methods (Pay per Click (PPC) Services)" icon="search" title="SEO & Backlinks" color="bg-pink-400"></app-service>
       <app-service text="Your website provides a place for interested users to learn more about your business, your products and services." icon="web" title="Web Development" color="bg-indigo-600"></app-service>
       <app-service text="We are also working in mobile Development that is skillful and professional in user experience" icon="mobile" title="Mobile Development" color="bg-blue-500"></app-service>
       <app-service text="The conviction is that businesses can successfully outshine their competitors with a strong website." icon="marketing" title="Digital Marketing" color="bg-red-600"></app-service>
       <app-service text="High quality secured data centers and servers ready for your apps " icon="secure" title="Hosting" color="bg-green-400"></app-service>
       

    </div>
</div>
