<div class="h-screen flex">


    <div class="bg-gray-100 hidden md:block py-10 px-24">
        <p class="text-2xl text-indigo-700 font-black">
            Pub<span class="text-gray-900">Mark</span>Store.
        </p>
        <br>
        <p class="subpara text-gray-500">
            Open an account and start boosting your business
            to the next level with our digital services
        </p>
        <div class="h-20"></div>
          <img class="mr-24" src="../../../assets/images/signup.png" alt="" >
   </div>


    <div class="my-auto text-center w-1/2">
       
        <div class="h-10"></div>
    
        <div class="mx-auto px-20 flex flex-col space-y-4 my-auto">
            <div (click)="googleAuth()" class="flex justify-center btn space-x-2  bg-white text-gray-900 hover:text-white">
                <div class="w-7 h-auto">
                    <img src="../../../assets/icons/google.png" alt="">
                </div>
                <div class="w-1"></div>
                <span class="my-auto ">Continue with Google</span>
             </div>
            
    
    
        </div>
    </div>

</div>
