<div data-aos="zoom-in" data-aos-duration="5000" class=" transform translate-y-4 hover:translate-y-8  duration-500 ease-in-out py-10 px-5 col-span-1 text-center hover:shadow-md rounded-lg transition-all">
    <div class="hover:text-indigo-600 cursor-pointer">

        <div>                    
        <button :id="color" [class]="color" class="rounded-full border-0 w-20 h-20 p-6 shadow-md">
            <img class="w-full h-full" [src]="'../../../assets/images/' + icon + '.png' ">
        </button>
    </div>
    <div class="h-5"></div>
    <p  class="capitalize text-2xl font-semibold transition-all">
            {{ title }}
    </p>
    </div>
    <div class="h-5"></div>
    <p class="text-gray-600 px-5">
        {{text}}
    </p>
</div>
