<div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="pt-10 grid md:grid-cols-2 sm:grid-cols-1 gap-10 px-10">
    <div data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500" class="figure">
        <img src="../../../../../assets/images/about1.png" alt="">
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="text-gray-500 text-lg">
        <p class="feature text-black mt-5 text-4xl font-extrabold mr-10">
            Exclusive Agency For Technology Provide Solution
        </p>
        <div class="h-5"></div>
        <p class="feature">
            Following reasons show advantages of adding PMS services to your lead businesses
        </p>
        <div class="h-5"></div>
        <ul data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500" class="space-y-2 list">
            <app-feature feature="Convert traffic into sales: Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency."></app-feature>
            <app-feature feature="Increase store trust: Realize importance of social proof in customer’s purchase decision."></app-feature>
            <app-feature feature="Growth guaranteed"></app-feature>
        </ul>
        <div class="h-16"></div>
        <div class="feature font-nomal text-lg bg-indigo-600 hover:bg-indigo-800 capitalize btn px-10"> Read More</div>
    </div>
</div>