<div class="px-20 py-20 bg-gray-900 text-lg text-white">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-10 gap-x-8">
        <div>
            <div class="-ml-16 -mb-10">
                <div class="flex">
                    <img class="h-44 w-44" src="../../../../../assets/images/logo_main.png" alt="">
                    <p class="text-2xl -ml-10 mt-16 font-black">PubMarkStore.</p>
                </div>
            </div>
            <div class="flex">
                <p class="text-2xl font-black">
                <span class="font-normal text-lg">Contact@Pubmarkstore.com</span>
                <br>
                <span class="font-normal text-lg"> STREET OUED ZIZ N 20 BUILDING CASTILLA 2ND FLOOR N 10, Tangier  </span>
              
                <br>

                <span class="text-lg">+212 634-851967</span>
                </p>

              </div>

          </div>
        <div > 
            <p class="capitalize font-bold text-3xl">
                services
            </p>
            <div class="h-5"></div>
            <ul class="space-y-4 text-gray-400 transition-all ">
                <li><a href="#services" class="capitalize hover:text-white cursor-pointer" > <span class="sep">></span> Interface Design</a></li>
                <li><a href="#services" class="capitalize hover:text-white cursor-pointer" > <span class="sep">></span> SEO & Backlinks</a></li>
                <li><a href="#services" class="capitalize hover:text-white cursor-pointer" > <span class="sep">></span> Web Development</a></li>
                <li><a href="#services" class="capitalize hover:text-white cursor-pointer" > <span class="sep">></span> Mobile Development</a></li>
                <li><a href="#services" class="capitalize hover:text-white cursor-pointer" > <span class="sep">></span> Digital Marketing</a></li>
                <li><a href="#services" class="capitalize hover:text-white cursor-pointer" > <span class="sep">></span> Hosting</a></li>
            </ul>

        </div>
        
    </div>
    

</div>
<div class="w-full text-white bg-gray-800 flex justify-between px-20 py-5 " >
        <p>
            © 2021 <span class="text-gray-400">PUBLIC MARKETING STORE SARL</span>. All Rights Reserved
        </p>
        <p class="capitalize">
            Privacy Terms & Conditions
        </p>
    </div>
