<div class="my-auto grid grid-cols-2 space-x-5 w-full py-24 px-10 text-white">
    <div data-aos="fade-right"
    data-aos-offset="200"
    data-aos-anchor-placement="center-bottom" class="px-5 py-10">
        
        <p class="text-xl font-sans">
            IT Design & Consulting
        </p>
        <div class="h-5"></div>
        <p  class="text-6xl font-extrabold">
            Our Digital Agency That Help You To Go Ahead...
        </p>
        <div class="h-10"></div>
       
        <div class="text-lg px-8 mt-4 welcome-animated btn rounded-sm border-2 capitalize bg-transparent border-white hover:bg-white hover:text-black hover:border-transparent">
        <span>
          Learn More
        </span>
      </div>
    </div>
    <div data-aos="fade-left"
    data-aos-offset="200"
    data-aos-anchor-placement="center-bottom" class="px-20 py-10 -mt-5">
        <img src="../../../../../assets/images/hero-animation-04.svg" alt="">
    </div>
</div>