<div style="z-index: 3000;" class="navbar shadow-lg  mb-2 fixed  w-full bg-gradient-to-r backdrop-blur-lg bg-indigo-600   text-neutral-content ">
    <div class="px-2 mx-2 navbar-start">
      <a routerLink="/">  <span class="text-lg font-bold">PubMarkStore</span> </a>
    </div>
    <div class="hidden px-2 lg:flex">
        <div class="flex items-stretch">
          <app-navbar-item route="#services"  [routeName]="'Services'" >  </app-navbar-item>
          <app-navbar-item route="#hosting" class="ml-4 rounded-lg" [routeName]="'Hosting'"> </app-navbar-item>
          <app-navbar-item route="#contact" class="ml-4 rounded-lg" [routeName]="'Contact'"> </app-navbar-item>
        </div>
    </div>
</div>