<app-navbar></app-navbar>
<app-top> </app-top>

<app-exclusive></app-exclusive>
<div class="h-10"></div>
<app-services id="services"></app-services>
<app-techs></app-techs>
<div id="about" class="md:space-x-64 bg-indigo-600 w-full md:flex text-white p-20 font-bold">
    <p class="text-2xl sm:text-4xl sm:leading-normal capitalize">
        Great Things In Business Are Never Done By One Person
    </p>
    <div class="h-10 md:hidden"></div>
    <div class=" border-indigo-600 font-nomal md:my-auto text-gray-900 hover:text-white hover:bg-transparent hover:border-white text-lg bg-white capitalize btn px-10"> Subscribe Now </div>

</div>
<app-contact></app-contact>
<app-footer></app-footer>