<div class="text-indigo-600  bg-base-100 shadow-xl border rounded-md">
    <div class="grid divide-y">
        
        <div class="cursor-pointer text-center hover:bg-indigo-100 pb-10 rounded-t-md h-44">
            <p class="mt-5 text-6xl font-extrabold">
                    +
            </p>
            <p class="mt-2 text-xl font-semibold">
                Add project
            </p>
        </div>
      
        <div class="cursor-pointer text-center font-semibold py-5 rounded-b-md hover:bg-indigo-100">
            Explore a demo project
        </div>
    </div>
</div>
