    <div class="relative w-96 bg-gray-50 rounded-lg px-10 py-5 flex flex-col space-y-4 justify-center mx-auto transition-all hover:translate-y-2 hover:text-indigo-600 cursor-pointer">
        <img class="mt-5 w-40 h-40 mx-auto" [src]="'../../../../../../assets/icons/'+ icon +'.png'" alt="" srcset="">
        <p class="text-2xl tracking-wide mx-auto">
            {{title}}
        </p>
        <div class="absolute w-24 h-20 right-0 bg-indigo-600 bottom-0 rounded-l-full  rounded-r-lg">
            <img class="w-8 h-8 mx-auto mt-6" src="../../../../../../../assets/icons/add.png" alt="" srcset="">
        </div>
    </div> 
