/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(./assets/fonts/OpenSans-Regular.ttf) format("ttf");
}

@layer components {
  .large-input {
    @apply text-2xl font-semibold tracking-wide text-gray-600 bg-gray-50 input input-bordered input-lg;
  }
  .dashboard-title {
    @apply text-3xl font-semibold;
  }
  .stepper-name {
    @apply text-2xl text-gray-600 font-normal;
  }
  .stepper-subtitle {
    @apply text-lg text-gray-600 font-normal;
  }
  .project-menu-button {
    @apply btn justify-start capitalize hover:bg-slate-700 bg-transparent border-t-0 border-r-0 border-l-0 h-16 btn-wide gap-4 rounded-none;
  }
}
@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}
.circle {
  @apply w-4 h-4 my-12 mx-1 bg-indigo-600 rounded-full;
}
